<section class='admin'>
	<h3>Add product</h3>
<form action="/addProd" method="post">

	<input type="text"  placeholder ="product name" name="title">
	<textarea  placeholder ="description..." name="desc"></textarea>
 	<input type="number" placeholder ="quantity" min="1" step="any" name="quantity" />
	<input type="number" placeholder ="price" min="1" step="any" name="price" />
	<input type="submit" name="Add Product">
</form>
</section>

