<section class="home">
	<h2><%= name %></h2>
	<p>Si toi aussi tu adore aller péta des chewing-gum dans ton épicerie du coin, tu es ici sur la bonne page!</p>
	<p>Ici on produit du légal et de l'illégal... on deal de la data et des database!</p>
	<p>ps: ici on accepte pas les loosers d'OVH!</p>
	<img src="/img/ovh.jpeg" alt="ovh"/>
</section>


