<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
	<title>Mon premier projet</title>
</head>
<body>
	<header>
		<div class="title">
			<h1>Le marché du code</h1>
		</div>
		
		<nav>

			<a href="/"><i class="fa fa-home"></i>Home</a>
			<a href="/produits"><i class="fa fa-beer"></i>Produits</a>
                <% if (session.isLogged === false) { %>
                	<a href="/user/register"><i class="fa fa-cogs"></i>S'inscrire</a>
					<a href="/user/login"><i class="fa fa-cogs"></i>Connexion</a>
                <% } else {%>
                	<a href="/user/profil"><i class="fa fa-cogs"></i>Profil</a>
                    <a href="/user/logout"><i class="fa fa-cogs"></i>Logout</a>
                    <% if (session.isLogged === true && session.user.role === "admin") { %>
                    <a href="/admin"><i class="fa fa-cogs"></i> Administration</a>
                    <% } %>
                <% } %>
		</nav>
	</header>
	<main>
		<%- include(template) -%>
	</main>
	<footer>
		<p>Ceci est un footer de ses morts!</p>
	</footer>
</body>
</html>