<h2>Profil</h2>

<section class='profil'>
    <div>
            	<h3><%= session.user.lastname %> </h3>
				<h3><%= session.user.firstname %> </h3>
				<h4>Role: <%= session.user.role %></h4>
    </div>
</section>
